body {
    max-width: max-content;
    margin: auto;
    }

h1{
    color:white;
    background-color: yellowgreen;
    text-align: center;
}

*{
    background-color: beige;
}

ul {
    text-align: center;
    list-style: none;
}